@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto:ital,wght@1,100&display=swap');

@font-face {
    font-family: "Android";
    src: url("../fontes/idroid.otf") format("opentype");
    font-weight: normal
}
:root {
    --cor0: #265930 ;
    --cor1: #A3DFAE ;
    --cor2: #5DDA73 ;
    --cor3: #415946 ;
    --cor4: #47A659 ;

    --font-padrao: arial,verdana,helvetica, sans-serif;
    --fonte-destaque: 'Bebas Neue',cursive;
    --fonte-android: 'Android',cursive;
}

* {
    margin: 0px;
    padding: 0px;
}


body {
    background-color: var(--cor1);
    font-family: var(--font-padrao);
}

a.externo:after {
    content: '\1F517';
}


header {
    background-image: linear-gradient(to bottom, var(--cor2), var(--cor3));
    min-height: 150px;
    text-align: center;
    padding-top: 40px;
}
header > h1 {
    color: white;
    font-family: var(--fonte-destaque);
    margin-bottom: 20px;
    font-size: 3em;
    font-weight: normal;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.514);
    
}
header > p {
    font-family: var(--font-padrao);
    font-size: 1.2em;
    color: white;
    max-width: 500px;
    padding-right: 10px;
    padding-left: 10px;
    margin: auto;
    margin-bottom: 30px;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.514);

}
nav {
    background-color: var(--cor3);
    font-family: var(--fonte-android);
    padding: 10px;
    box-shadow: 0px 7px 9px black;
}
nav > a {
    color: var(--cor2);
    padding: 10px;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    transition-duration: .5s;
}
nav a:hover {
    background-color: var(--cor2);
    animation-duration: 1s;
    color: var(--cor0);

}
main {
    min-width: 300px;
    max-width: 1000px;
    margin: auto;
    margin-bottom: 30px;
    padding: 20px;
    background-color: white;
    
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.507);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;

}
main h1 {
    color: var(--cor2);
    font-family: var(--fonte-android);
    font-weight: normal;
    font-size: 1.8em;
}
main h2 {
    font-family: var(--fonte-android);
    color: var(--cor3);
    font-size: 1.3em;
    font-weight: normal;
    background-image: linear-gradient(to right, var(--cor1), transparent);
    text-indent: 8px;
}
main p {
    margin: 15px 0px ;
    text-align: justify;
    text-indent: 30px;
    line-height: 1em;
}
main strong {
    color: var(--cor3);
    font-weight: bold;
    
}

main a {
    text-decoration: none;
    font-weight: bold;
    color: var(--cor0);
    background-color: var(--cor2);
    padding: 2px 6px;
}
main a:hover {
    text-decoration: underline;
    color: var(--cor4);
}

main img {
    width: 100%;
}
main img.pequena {
    max-width: 350px;
    display: block;
    margin: auto;
}


main h1 {
    color: var(--cor4);
}
main > h2 {
    font-family: var(--font-android);
}

div.video {
    background-color: var(--cor4);
    
    margin: 0px -20px 30px;
    padding: 20px;
    padding-bottom: 58%;
    position: relative;
    
}

div.video > iframe {
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
    
}

aside {
    background-color: var(--cor2);
    padding: 10px;
    border-radius: 10px;
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.5);

}
aside > h3 {
    background-color: var(--cor3);
    color: white;
    padding: 10px;
    margin: -10px -10px 0px -10px;
    border-radius: 10px 10px 0px 0px;
}
aside > ul {
    list-style-type: "\2714\00A0\00A0";
    list-style-position: inside;
    columns: 2;

}
footer {
    background-color: var(--cor0);
    color: white;
    text-align: center;
    font-size: 18px;
    padding: 5px;
}

footer a { 
    color: white;
    font-weight: bolder;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
    color: var(--cor4);
}

